absl-py
asttokens
certifi
charset-normalizer
colorama
contourpy
cycler
decorator
exceptiongroup
executing
filelock
fonttools
gmpy2
grpcio
idna
ipython
jedi
joblib
kiwisolver
matplotlib
matplotlib-inline
mpmath
munkres==1.1.4
networkx
numpy==1.26.2
packaging==23.2
pandas
parso
pexpect
pickleshare
pillow
ply
prompt-toolkit
protobuf==4.25.3
ptyprocess
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
sip
six
sympy
tensorboard
tensorboard-data-server
threadpoolctl
toml
tomli==2.0.1
torch==2.3.0
torchvision==0.18.0
tornado
tqdm
traitlets
typing_extensions==4.9.0
tzdata
unicodedata2
urllib3
wcwidth
zipp
