absl-py
asttokens
certifi
charset-normalizer
colorama
contourpy
cycler
decorator
exceptiongroup
executing
filelock
fonttools
fsspec
gmpy2
grpcio
idna
ipython
jedi
joblib
kiwisolver
matplotlib
matplotlib-inline
mpmath
munkres==1.1.4
networkx
numpy
packaging
pandas
parso
pexpect
pickleshare
pillow
prompt-toolkit
protobuf==4.25.3
ptyprocess
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
setuptools==69.5.1
six
sympy
tensorboard
tensorboard-data-server
threadpoolctl
torch
torchvision==0.18.0
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
wheel==0.43.0
zipp
